extends base

block content
  main.main
    .weather--container
      p This is a main page
      form.weather--form
        input.imp(type="text", placeholder="Location")
        button.imp-btn Search
      .weather--data 