extends base

block content
  main.main
    .weather--container
      h2 Type location in the form below!
      .search-form
        form.form--reset
          input.input-search.imp#input-search(type="text")
          label.search(for="input-search")
      .weather--data 
  
